$primary-color = #e69d00;

$secondary-color = #FFDE03;
// $accent-color = #EA80FC;
// $secondary-color = #ffcf66;
$accent-color = #6db6f9;
$error-color = #FF5252;
$info-color = #2196F3;
$success-color = #4CAF50;
$warning-color = #f1b400;

$def-text-color = rgba(0, 0, 0, 0.8);

$def-bg-color = rgb(241, 241, 241);
$def-hover-color = rgba(0,0,0,0.05);
$def-border-color = rgba(0,0,0,.12);

$shadow-light = 0 2px 3px -1px rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.05);
$shadow-normal = 0 2px 5px -1px rgba(0, 0, 0, 0.3), 0 1px 10px rgba(0, 0, 0, 0.1);
$shadow-dark = 0 2px 4px -1px rgba(0, 0, 0, 0.5);

$extra-small-width = 600px;
$small-width = 960px;
$large-width = 1264px;
$extra-large-width = 1904px;